node_modules/
.repo.d
.DS_Store
GTAGS
.idea
hooks.pex
GPATH
GRTAGS
GSYMS
.pants.d
.pants.workdir.file_lock
.pants.workdir.file_lock.lock_message
.pantsd.startup
.statsdb.sqlite
*.iml
*.ipr
*.iws
*#
.#*
*~
.pex
.classpath
.project
.settings
_build/
dist
target
.buildcache
.cache
